<div class="footer">
  <div class="footer-corporate__copyright">
    <span>© Copyright Star Wars</span> Ejercicio vueling university
  </div>
  <div class="footer-corporate__link-container">
    <ul class="footer-corporate__group">
      <li class="footer-corporate__item">
        <a class="footer-corporate__item-link" href="" tabindex="2"
          >Términos legales</a
        >
      </li>
      <li class="footer-corporate__item">
        <a class="footer-corporate__item-link" href="" tabindex="2"
          >Política de Privacidad</a
        >
      </li>
      <li class="footer-corporate__item">
        <a class="footer-corporate__item-link" href="" tabindex="2">Cookies</a>
      </li>
      <li class="footer-corporate__item">
        <a class="footer-corporate__item-link" href="" tabindex="2"
          >Accesibilidad</a
        >
      </li>
      <li class="footer-corporate__item">
        <a class="footer-corporate__item-link" href="" tabindex="2"
          >Contáctenos</a
        >
      </li>
      <li class="footer-corporate__item">
        <a class="footer-corporate__item-link" href="" tabindex="2"
          >Centro de ayuda/FAQs</a
        >
      </li>
    </ul>
  </div>
</div>
