<section class="characters-list">
  <div class="characters-list__sub-navigation">
    <a
      *ngFor="let specie of getSpecies()"
      class="characters-list__specie-item"
      [routerLink]="[]"
      [fragment]="specie.toLowerCase()">
      {{ specie }}
    </a>
  </div>
  <ng-container *ngFor="let specie of getSpecies()">
    <h2 class="characters-list__title" id="{{ specie.toLowerCase() }}">
      {{ specie }}
    </h2>
    <div class="characters-list__characters">
      <ng-container *ngIf="isLoading; else charactersList">
        <app-loading-spinner></app-loading-spinner>
      </ng-container>
      <ng-template #charactersList>
        <ng-container *ngFor="let character of getCharactersBySpecies(specie)">
          <app-character-card [character]="character"></app-character-card>
        </ng-container>
      </ng-template>
    </div>
  </ng-container>
</section>
