<div class="character-card">
  <div class="character-card__image-wrapper">
    <a [routerLink]="[character?.id]">
      <img
        class="character-card__image"
        [alt]="character?.name"
        [src]="character?.image" />
    </a>
  </div>
  <div class="character-card__information">
    <span class="character-card__galactic-registration">{{
      character?.galactic_registration
    }}</span>
    <span class="character-card__name">{{ character?.name }}</span>
    <span class="character-card__specie">{{ character?.species }}</span>
  </div>
</div>
