.character-card {
  padding: .6rem .4rem;
  position: relative;

  &__image-wrapper {
    max-width: 345px;
    max-height: 345px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  &__image {
    max-width: 100%;
  }

  &__information {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    bottom: 30px; /* Alinea el div de información en la parte superior */
    left: 0; /* Alinea el div de información en la parte izquierda */
    color: white; /* Texto blanco para mejor legibilidad */
    padding: 10px; /* Espaciado interno */
    width: 100%; /* Ancho completo dentro del contenedor padre */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
  }

  &__galactic-registration {
    font-weight: bold;
    font-size: 2rem;
    line-height: 3rem;
  }

  &__name {
    font-size: 1.5rem;
    line-height: 3rem;
  }

  &__specie {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}



