<nav class="navbar">
  <div class="navbar__container">
    <a class="navbar__brand" href="#">
      <img
        class="navbar__brand__image"
        alt="Star wars logo"
        src="../../../assets/images/star_wars_logo.jpg" />
    </a>
    <div class="navbar__collapse" id="navbarNav">
      <ul class="navbar__nav">
        <li class="navbar__nav__item">
          <a class="navbar__nav__item__link" href="#">{{
            'navbar.home' | translate
          }}</a>
        </li>
        <li class="navbar__nav__item">
          <a class="navbar__nav__item__link" href="#">{{
            'navbar.movies' | translate
          }}</a>
        </li>
        <li class="navbar__nav__item">
          <a class="navbar__nav__item__link" href="#">{{
            'navbar.characters' | translate
          }}</a>
        </li>
        <li class="navbar__nav__item">
          <a class="navbar__nav__item__link" href="#">{{
            'navbar.planets' | translate
          }}</a>
        </li>
        <li class="navbar__nav__item">
          <a class="navbar__nav__item__link" href="#">{{
            'navbar.ships' | translate
          }}</a>
        </li>
        <li class="navbar__nav__item">
          <a class="navbar__nav__item__link" href="#">{{
            'navbar.species' | translate
          }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
